* {
  box-sizing: border-box;
}

.pagina {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $negro;
  scroll-behavior: smooth;
}

.pagina__video {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.cabecera {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  color: $blanco;
  transition: all 0.40s linear;
  z-index: 2;
  height: 80px;

  &:hover {
    background-color: $blanco;
    color: $negro;
  }
}

.cabecera__titulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.menu__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu__elemento {
  margin-left: 1.5rem;
  text-transform: uppercase;
}

.menu__enlace {
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }
}

.menu__icono {
  margin-right: 0.5rem;
}

.eslogan {
  color: $blanco;
  z-index: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 5rem;
  font-size: 4rem;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 6rem;
  border-bottom: 3px solid $blanco;
  width: calc(100vw - 4rem);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 9rem;
  padding-right: 9rem;
}

.card--introductorio {
  margin-top: calc(100vh - 80px);
  padding-top: 7rem;
  padding-bottom: 5rem;
  padding-left: 18rem;
  padding-right: 18rem;
  font-size: 25px;
  line-height: 2.4rem;
}

.card--fondo-claro {
  background-color: $blanco;
}

.card__texto {
  color: $texto;
}

/*

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
*/
