<div class="cabecera pagina__cabecera">
  <h1 class="cabecera__titulo">Las Vegas</h1>
  <nav class="menu cabecera__menu">
    <ul class="menu__lista">
      <li class="menu__elemento"><a class="menu__enlace" href="#bienvenida"><i class="menu__icono fas fa-house"></i>Bienvenida</a></li>
      <li class="menu__elemento"><a class="menu__enlace" href=""><i class="menu__icono fas fa-location-dot"></i>Sitios de interés</a></li>
      <li class="menu__elemento"><a class="menu__enlace" href=""><i class="menu__icono fas fa-icons"></i>Cosas que hacer</a></li>
      <li class="menu__elemento"><a class="menu__enlace" href=""><i class="menu__icono fas fa-user-group"></i>Su gente</a></li>
      <li class="menu__elemento"><a class="menu__enlace" href=""><i class="menu__icono fas fa-sack-dollar"></i>Casinos</a></li>
    </ul>
  </nav>
</div>
