@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$blanco: #ffffff;
$negro: #000000;
$texto: #354149;
$enlacesmall: #115ac1;

$ultraGrandeMaxWidth: 1550px;
$grandeMaxWidth: 1250px;
$medioMaxWidth: 1100px;
$tabletMaxWidth: 950px;
$movilMaxWidth: 700px;
$minimoMaxWidth: 460px;
